<div class='container'>
  <%= button_to "Recevoir un email", { action: "create" }, class: "btn btn-primary" %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Mails</th>
        <th scope="col">Seclected email</th>
      </tr>
    </thead>
    <tbody id="email_new" is="turbo-frame">
      <% @emails.each do |email| %>
        <%= render partial: "email", locals: {email: email} %>
      <% end %>
      <turbo-stream id="render_email">
      </turbo-stream>
    </tbody>
  </table>
</div>